common --enable_platform_specific_config

# Remote features
# Sensitive values are added to gitignored additional .bazelrc files
build:flare --experimental_remote_merkle_tree_cache
build:flare --experimental_remote_cache_async
build:flare --incompatible_remote_build_event_upload_respect_no_cache
common:flare --remote_upload_local_results=false
common:flare --experimental_remote_downloader=grpcs://cdn.bitrise.flare.build
common:flare --remote_cache=grpcs://cdn.bitrise.flare.build
common:flare --remote_timeout=600
common:flare --remote_max_connections=1000
common:flare --remote_local_fallback
build:flare --experimental_stream_log_file_uploads
build:flare --incompatible_remote_results_ignore_disk
build:flare --bes_backend=grpcs://bes.bitrise.flare.build:443
build:flare --bes_results_url='https://insights.bitrise.flare.build/invocations/'
build:flare --bes_upload_mode=fully_async
build:flare --remote_download_toplevel
build --config=flare
fetch --config=flare

common:flare_ci --remote_upload_local_results=true
common:flare_ci --disk_cache=
common:flare_ci --repository_cache=

# misc
build --nobuild_runfile_links
test --build_runfile_links
# build --announce_rc

# User-specific .bazelrc
try-import user.bazelrc
